nav {
    background-color: #192FBC;
}

nav ul {
    list-style-type: none;
    padding-right: 40px;
}

nav ul li {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    cursor: pointer;
}

nav ul li a {
    color: white;
}

nav ul li:hover a {
    color: #192FBC;
}


nav ul li:hover {
    color: #192FBC;
    background-color: #BCC3F2;
}

.product__image {
    width: 100%;
    height: 300px;
}

.row {
    margin: 0;
}

.col-sm-4 {
    display: inline-block;
    text-align: center;
}

.product__card {
    min-height: 500px;
    margin-bottom: 50px;
    background-color: #BCC3F2;
    cursor: pointer;
}

.product__card:hover {
    -webkit-box-shadow: 0px 3px 40px 0px rgba(25,47,188,1);
    -moz-box-shadow: 0px 3px 40px 0px rgba(25,47,188,1);
    box-shadow: 0px 3px 40px 0px rgba(25,47,188,1);
    transition: all 1s;
}

.product__name {
    font-size: 24px;
    height: 50px;
}
